@tailwind base;
@tailwind components;
@tailwind utilities;



.worker_input{
  background: none;
  border: 1px  rgb(163 163 163) solid;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(31, 35, 67, 0.526);
  height: 45px;
  font-weight: bold;
  width: 55%;
  margin: auto;
}

.workersdrop:hover > .workersdrop-content{
  display: inline-block;
}

.workersdrop-content{
  float: right;
  display: none;
}